page-profile {
    
    ion-buttons button {
        margin: 0 6px!important;
        min-width: 44px!important;
        padding: 0 5px!important;
    }

    .item-icon{
        font-size: .9em;
        padding-top: 6px;
    }

    .item-md {
        background-color: transparent;
    }

}
